body{
    margin: 5px;
    font-family: "Carnivalee Freakshow";
    background-color: #002a53;
}
h1{
  color: orange;
}

h2{
  color:orangered;
}
.carousel-item,
.carousel-inner,
.carousel-inner img {
  height: 100%;
  width: auto;
}

/* .carousel-item {
  text-align: center;
} */

.carousel {
  height: 450px;
}

h3{
  padding: 20px;
  background: rgba(67, 12, 170, 0.308);
  }
