body{
    margin: 5px;
    font-family: "Carnivalee Freakshow";
    background-color: #002a53;
}
h1{
  color: orange;
}

h2{
  color:orangered;
}

.carousel-item,
.carousel-inner,
.carousel-inner img {
  height: 100%;
  width: auto;
}

.carousel {
  height: 400px;
}

h3{
  /* padding: 10px; */
  background: rgba(67, 12, 170, 0.308);
  }
