body{
    margin: 5px;
    font-family: "Carnivalee Freakshow";
    background-color: blueviolet;
}
h1, h2{
  color: yellow;
}
.carousel-item,
.carousel-inner,
.carousel-inner img {
  height: 100%;
  width: auto;
}

/* .carousel-item {
  text-align: center;
} */

.carousel {
  height: 450px;
}
/* .carousel-inner img {
  width: 100%;
  height: auto;
} */